body{
    margin: 0%;
    font-family: calibri;
}
.containerOuter{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
    height: 100vh;
}
.appContainer{
    display: flex;
    background-color: white;
    min-width: 18rem;
    min-height: 100px;
    border-radius: 5px;
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.outputDiv{
    padding: 5%;
    min-width: 18rem;
    min-height: 100px;
}
.outputLabels{
    font-size: 25px;
    padding-left: 4%;
}
.billOutput{
    padding-left: 15%;
}
.smallerHeadingLabels{
    color: darkgray;
}
.appContainer:hover{
    box-shadow: 1px 1px 15px 1px steelblue;
}
.inputTextCenter{
    text-align: center;
}
@media (max-width: 600px){
    .appContainer{
        flex-direction: column;
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}